# Dependencies
node_modules/
package-lock.json

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/

